* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s ease;
}

:root {
    --tw-bg-opacity: 1;
    --bg-black-one: rgb(12 13 13 / var(--tw-bg-opacity));
}

.absolute-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body {
    /* background-color: var(--bg-black-one); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

.card {
    width: 240px;
    height: 336px;
    border: 1px solid rgba(0, 0, 0, 0.252);
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1),
    0px 0px 20px rgba(0, 0, 0, .1),
    0px 0px 10px rgba(0, 0, 0, .1),
    0px 0px 20px rgba(0, 0, 0, .1);
    position: relative; 
    overflow: hidden;  
    z-index: 1;
    cursor: pointer;
}

.card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #FDD017; */
    background-color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    clip-path: inset(10px 10px round 4px);
    z-index: 2;
    
}

.frame {
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 6px;
    position: absolute;
    z-index: 3;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
}

.layer {
    position: absolute;
    height: 100%;
    width: 100%;
}

.layer-bg {
    z-index: 3;
}


.layer-main {
    z-index: 4;
    width: 100%;
    height: 100%;
}

.layer-front {
    box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
    z-index: 5;
}

.bg-image {
    width: 100%;
}

.main-img {
    display: block;
    height: 200px;
    transform: translate(40%, 37%);
    scale: 1.2;
    filter: drop-shadow(5px 5px 10px #0000006d);
}

.particles {
    display: block;
    width: 100%;
    height: 100%;
    scale: 1.5;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, .1));
}


/* Hover animation */
.card:hover .particles {
    scale: 1.2;
    filter: blur(0.5px) drop-shadow(0px 0px 10px rgb(0, 0, .15));
}

.card:hover .main-img {
    scale: 1.45;
    transform: translate(30%, 30%);
    filter: drop-shadow(2px 1px 10px #00000032);
}

.card:hover .bg-image {
    scale: 1.3;
    filter: blur(0.5px);
}