@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s ease;
}

.absolute-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: rgba(0, 40, 105, 0.875);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* font-family: sans-serif; */
    user-select: none;
}

.card {
    width: 240px;
    height: 336px;
    border: 1px solid rgba(0, 0, 0, 0.252);
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1),
    0px 0px 20px rgba(0, 0, 0, .1),
    0px 0px 10px rgba(0, 0, 0, .1),
    0px 0px 20px rgba(0, 0, 0, .1);
    position: relative; 
    overflow: hidden;  
    z-index: 1;
}

.card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #FDD017; */
    background-color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    clip-path: inset(10px 10px round 4px);
    z-index: 2;
    
}

.frame {
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 6px;
    position: absolute;
    z-index: 3;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
}

.layer {
    position: absolute;
    height: 100%;
    width: 100%;
}

.layer-bg {
    z-index: 3;
}


.layer-main {
    z-index: 4;
    width: 100%;
    height: 100%;
}

.layer-front {
    box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
    z-index: 5;
}

.bg-image img {
    width: 100%;
}

.main-img {
    display: block;
    height: 200px;
    transform: translate(40%, 37%);
    scale: 1.2;
    filter: drop-shadow(5px 5px 10px #0000006d);
}

.particles {
    display: block;
    width: 100%;
    height: 100%;
    scale: 1.5;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, .1));
}


.bg-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
}

.bg-text p {
    font-family: "Roboto Flex", sans-serif;
    color: #6affa3;
    font-size: 10rem;
    font-weight: 600;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, .1);
}


/* Hover animation */
.card:hover .particles,
.card.active .particles
{
    scale: 1.2;
    filter: blur(0.5px) drop-shadow(0px 0px 10px rgb(0, 0, .15));
}

.card:hover .main-img,
.card.active .main-img
{
    scale: 1.45;
    transform: translate(30%, 30%);
    filter: drop-shadow(2px 1px 10px #00000032);
}

.card:hover .bg-image,
.card.active .bg-image
{
    scale: 1.3;
    filter: blur(0.5px);
}