@font-face {
    font-family: 'coc-font';
    src: url('./Clash_Bold.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s ease;
}

.absolute-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: #965A2B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

.coc-text-button {
    padding: 16px 28px;
    display: inline-block;
    border-radius: 6px;
    background-color: #e98101;
    outline: 1px solid #000;
    border: 2px solid #fff;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, .4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.coc-text-button::before {
    content: '';
    width: 95%;
    height: 50%;
    background: rgb(255, 207, 134);
    background: linear-gradient(180deg, rgb(249, 225, 118) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -84%);
    border-radius: 4px;
}

.coc-text-button span {
    font-size: 18px;
    font-family: 'coc-font';
    -webkit-text-stroke: 1px black;
    color: #fff;
    text-shadow: 0px 2px 0px #000;
    letter-spacing: -1px;
    position: relative;
    z-index: 2;
}

.coc-text-button:active {
    scale: .9;
}