@font-face {
    font-family: 'coc-font';
    src: url('./Clash_Bold.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s ease;
}

.absolute-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

.load-container {
    position: relative;
}

.loader-wrapper {
    width: 400px;
    height: 28px;
    border-radius: 4px;
    border: 0.5px solid #000;
    position: relative;
    background-color: rgba(31, 31, 31, 0.3);
    overflow: hidden;
}

.loading-bar {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #b53bc8;
    position: absolute;
    transform: translate3d(-90%, 0px, 0px);
    z-index: 1;
}

.loader-wrapper::before {
    content: '';
    width: 99.5%;
    height: 50%;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    border-radius: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -84%);
    z-index: 2;
}

.loader-text {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%, -120%);
    font-size: 24px;
    font-family: 'coc-font';
    -webkit-text-stroke: 1px black;
    color: #fff;
    text-shadow: 0px 3px 0px #000;
    letter-spacing: -1px;
}