* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .2s ease;
}

:root {
    --tw-bg-opacity: 1;
    --bg-black-one: rgb(12 13 13 / var(--tw-bg-opacity));
}

.absolute-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: var(--bg-black-one);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

.neon-button {
    height: 30px;
    background-color: #efefef06;
    outline: none;
    border: 0px solid transparent;
    padding: 4px .75rem;
    border-radius: .45rem;
    cursor: pointer;
    font-size: .75rem;
    font-weight: normal;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.btn-bg {
    position: absolute;
    width: 97%;
    height: 97%;
    z-index: 5;
    background-color: var(--bg-black-one);
    border-radius: .4rem;
    overflow: hidden;
}

.btn-bg::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 100%);
    border-radius: 100%;
    background-color: #ffffff;
    filter: blur(5px);
    opacity: .12;
    box-shadow: 0px 0px 100px #fff;
    animation: fadeIn .2s ease-in-out 0s 1;
}

.neon-button.active .btn-bg::after {
    transform: translate(-50%, 10%);
}


.neon-btn-text {
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,1) 25%,
    rgba(255,255,255,0.5) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  z-index: 10;
  position: relative;
  font-size: 13px;
}

.btn-highlight {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 100%);
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 100%;
    z-index: 1;
    filter: blur(8px);
    box-shadow: 0px 0px 100px #fff;
    animation: fadeIn .2s ease-in-out 0s 1;
}

.neon-button.active .btn-highlight {
    transform: translate(-50%, 50%);
}

.neon-button:hover {
    background-color: #efefef2f;
}

.neon-button.active {
    background-image: radial-gradient(64.39% 110% at 50% 120%, #fff 27.27%, hsla(0, 0%, 100%, .1) 69.23%);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}