body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container {
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.symbol-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.symbol-container span {
  font-size: 24px;
  font-weight: bolder;
  color: #a4a4a4;
  cursor: default;
  user-select: none;
}

.symbol-container.active span,
.symbol-container span.active {
  color: #222222;
}